@import url("https://use.typekit.net/niu2abe.css");
@import url("https://use.typekit.net/niu2abe.css");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Montserrat Regular

font-family: montserrat, sans-serif;

font-weight: 400;

font-style: normal;


Montserrat Italic

font-family: montserrat, sans-serif;

font-weight: 400;

font-style: italic;


Montserrat Bold

font-family: montserrat, sans-serif;

font-weight: 700;

font-style: normal;


Montserrat Bold Italic

font-family: montserrat, sans-serif;

font-weight: 700;

font-style: italic;


Montserrat Alternates Regular

font-family: montserrat-alternates, sans-serif;

font-weight: 400;

font-style: normal;


Montserrat Alternates Italic

font-family: montserrat-alternates, sans-serif;

font-weight: 400;

font-style: italic;


Montserrat Alternates Bold

font-family: montserrat-alternates, sans-serif;

font-weight: 700;

font-style: normal;


Montserrat Alternates Bold Italic

font-family: montserrat-alternates, sans-serif;

font-weight: 700;

font-style: italic;*/

/*Droid Serif Regular

font-family: droid-serif, serif;

font-weight: 400;

font-style: normal;


Droid Serif Bold

font-family: droid-serif, serif;

font-weight: 700;

font-style: normal;


Droid Serif Italic

font-family: droid-serif, serif;

font-weight: 400;

font-style: italic;


Droid Serif Bold Italic

font-family: droid-serif, serif;

font-weight: 700;

font-style: italic;*/


/* HEADER */
header {
    height: 10vh;
    width: 100%;
    border-bottom: 2px solid black;
    position: fixed;
    background-color: #FFF;
    z-index: 1;
}

#logo {

}

.main-menu {
    float: right;
    display: flex;
    margin-top: 15px;
    margin-right: 30px;
    list-style-type: none;
}

.main-menu li a {
    color: black;
    padding: 10px;
    text-decoration: none;
    font-family: droid-serif, serif;
    font-weight: bold;
}

.main-menu li a:hover {
    opacity: 70%;
}

.main-menu li:nth-child(5) {
    border: 2px solid black;
}

.main-menu li:nth-child(6) {
    padding-left: 10px;
}

.main-menu li:nth-child(6):hover {
    opacity: 60%;
    cursor: pointer;
}

.main-menu > span {
    padding: 10px;
    position: relative;
}

.main-menu > span a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: droid-serif, serif;
}

/* HEADER END */

/* CONTAINER 1 */

.container1 {
    padding-top: 6rem;
    height: 100vh;
    max-width: 100%;
    background-color: #EA620E;
}

.slide-container {
    border: 1px solid black;
    width: 90rem;
    height: 45.1rem;
    float: left;
    margin-left: 200px;
    margin-top: 50px;
}

.slideImg {
    width: 100%;
    height: 45rem;
    display: none;
    position: relative;
}
/*
.textBoxSlide {
    width: 100%;
    height: 50px;
    background-color: black;
    position: relative;
}

.textBoxSlide > p {
    color: white;
    text-align: center;
    padding-top: 12px;
    font-family: droid-serif, serif;
}
*/
.slide-ani {
    animation-name: slide-ani;
    animation-duration: 2s;
    animation-delay: 10s;
}

@keyframes slide-ani {
    from{opacity: 100%; left: 0;}
    to{opacity: 0%; left: 200px}
}

/*.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from{opacity: 0%;}
    to{opacity: 100%;}
}
*/

/*
.dot-container {
    text-align: center;
}

.dot {
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 2px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-color: #555;
    display: inline-block;
}
*/

/* CONTAINER 1 END */

/* CONTAINER 2 */
.container2 {
    height: 90vh;
    max-width: 100%;
    background-color: #49428A;
}

.container2 > h2 {
    text-align: center;
    font-size: 30px;
    font-family: montserrat, sans-serif;
    padding-top: 20px;
}

.text-box-big {
    width: 90%;
    height: 60vh;
    background-color: white;
    margin: 0 auto;
    margin-top: 10px;
}

.text-box-big > p {
    text-align: center;
    font-family: montserrat, sans-serif;
    padding-top: 10px;
    font-weight: 600;
    line-height: 28px;
}

#banner {
    width: 100%;
    height: 20vh;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 10px;
    background-image: url("images/banner-background.png");
}

 /* #citatcontainer {
  background-color: blue;
  border: 5px solid white;
  width: 750px;
  height: 775px; 
  margin: 0 auto;
  text-align: center; 
}*/

#output {
    margin: 25px auto;
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-align: center;
    font-family: droid-serif, serif;
  }

#btn {
  margin: 20px auto;
  height: 50px;
  width: 250px;
  font-size: 22px;
  background-color: #EA620E;
  margin-left: 43.2%;
  border: 2px solid #49428A;
  color: white;
}

#btn:hover {
    opacity: 0.8;
}

/* CONTAINER 2 END */

/* CONTAINER 3 */

.container3 {
    height: 90vh;
    max-width: 100%;
    background-color: #FFEECE;
}

.container3 > h2 {
    font-size: 30px;
    font-family: montserrat, sans-serif;
    padding-top: 20px;
    float: left;
    margin-left: 22rem;
}

.container3 > h2:nth-child(2) {
    font-size: 30px;
    font-family: montserrat, sans-serif;
    padding-top: 20px;
    float: left;
    margin-left: 36rem;
}

.text-box {
    width: 40%;
    height: 45rem;
    background-color: white;
    float: left;
    margin-left: 150px;
    margin-top: 20px;
}

.text-box > p {
    text-align: center;
    font-family: montserrat, sans-serif;
    padding-top: 10px;
    font-weight: 600;
    line-height: 28px;
}

.text-box > ol {
    margin-left: 20px;
    margin-top: 10px;
}

.text-box > ol li {
    font-family: montserrat, sans-serif;
    line-height: 30px;
    text-align: center;
    font-weight: 500;
}

.text-box > img {
    width: 100%;
    margin-top: 20px;
}

/* CONTAINER 3 END */

/* CONTAINER 4 */

.container4 {
    height: 90vh;
    max-width: 100%;
    background-color: #FFF381
}

.container4 > h2 {
    font-size: 30px;
    font-family: montserrat, sans-serif;
    padding-top: 20px;
    float: left;
    margin-left: 22rem;
}

.container4 > h2:nth-child(2) {
    font-size: 30px;
    font-family: montserrat, sans-serif;
    padding-top: 20px;
    float: left;
    margin-left: 36rem;
}

.text-box {
    width: 40%;
    height: 45rem;
    background-color: white;
    float: left;
    margin-left: 150px;
    margin-top: 20px;
}

/* CONTAINER 4  END*/

/* CONTAINER 5 */

.container5 {
    height: 90vh;
    max-width: 100%;
    background-color: #49428A;
}

.container5 > h2 {
    text-align: center;
    font-size: 30px;
    font-family: montserrat, sans-serif;
    padding-top: 20px;
}

.ensom-box {
    width: 19.2%;
    height: 20rem;
    float: left;
    margin-left: 10px;
    margin-top: 8%;
    opacity: 50%;
    transition: margin-top 1s;
    position: relative;
}

.ensom-box:nth-child(2) {
    background-image: url("images/ensomhed-box.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: green;
}

.ensom-box:nth-child(3) {
    background-image: url("images/tegning-ensomhed.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.ensom-box:nth-child(4) {
    background-image: url("images/ventilen-box.jpg");
    color: red;
    background-repeat: no-repeat;
    background-size: 100%;
}

.ensom-box:nth-child(5) {
    background-image: url("images/frivillig-box.jpg");
    color: white;
    background-repeat: no-repeat;
    background-size: 100%;
}

.ensom-box:nth-child(6) {
    background-image: url("images/selv.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.ensom-box:hover {
    opacity: 100%;
    margin-top: 100px;
    cursor: pointer;
}

.ensom-box > h3 {
    font-family: montserrat, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    margin-top: 37%;
}

/*#background-opacity {
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 50%;
    display: none;
}*/

#myFormEnsom {
    width: 90%;
    position: absolute;
    height: 80vh;
    background-color: white;
    /*margin: 0 auto;*/
    left: 5%;
    padding: 0;
    display: none;
    z-index: 9;
}

#myFormEnsom > h2 {
    margin-left: 45%;
    margin-top: 1%;
    font-family: montserrat, sans-serif;
    font-weight: bold;
    float: left;
}

#myFormEnsom > h4 {
    margin-top: 1%;
    font-family: montserrat, sans-serif;
    font-weight: bold;
    margin-left: 100px;
    float: left;
}

#myFormEnsom > ol {
    float: left;
    margin-top: 2%;
    margin-left: 100px;
}

#myFormEnsom > ol li {
    font-family: droid-serif, serif;
    line-height: 50px;
}

#myFormEnsom > p {
    font-family: droid-serif, serif;
    margin-top: 2%;
    float: left;
    margin-left: 100px;
}

#myFormSygdom {
    width: 90%;
    position: absolute;
    height: 80vh;
    background-color: white;
    /*margin: 0 auto;*/
    left: 5%;
    padding: 0;
    display: none;
}

#myFormSygdom > h2 {
    margin-left: 40%;
    margin-top: 1%;
    font-family: montserrat, sans-serif;
    font-weight: bold;
    float: left;
}

#myFormSygdom > p {
    font-family: droid-serif, serif;
    margin-top: 2%;
    margin-left: 100px;
    float: left;
}

.close {
    width: 30px;
    height: 30px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    background-image: url("images/close.png");
}

.close:hover {
    opacity: 70%;
    cursor: pointer;
}

/* CONTAINER 5 END*/

/* FOOTER */

footer {
   max-width: 100%;
   height: 30vh;
   background-color: #C1DFC2;
}

footer > img {
    float: left;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

footer > ul {
    width: 40%;
    height: 40px;
    float: right;
    display: flex;
    margin-top: 40px;
    list-style-type: none;
}

footer > ul li a {
    color: black;
    text-decoration: none;
    font-family: droid-serif, serif;
    font-weight: bold;
    padding: 10px;
}

footer > ul li a:hover {
    opacity: 80%;
}

.contact {
    height: 40%;
    width: 25rem;
    float: right;
}

.contact > h4 {
    font-family: droid-serif, serif;
    text-align: center;
    font-weight: 600;
}

.contact > p {
    font-family: droid-serif, serif;
    font-weight: 500;
    margin-top: 10px;
}

.soMe-box {
    height: 40%;
    width: 25rem;
    float: right;
}

.soMe-box > h4 {
    font-family: droid-serif, serif;
    text-align: center;
    font-weight: 600;
}

.soMe-box > img {
    width: 80px;
    height: 80px;
    margin-top: 5px;
    margin-left: 10px;
}

.soMe-box > img:nth-child(2) {
    background-color: white;
}

.soMe-box > img:hover {
    opacity: 60%;
    cursor: pointer;
}

.samarbejde {
    width: 50%;
    height: 8.5rem;
    background-color: #EA620E;
    float: left;
    margin-top: 20px;
    margin-left: 49%;
}

.samarbejde > h4 {
    font-family: droid-serif, serif;
    text-align: center;
    font-weight: 600;
}
/* FOOTER END */

/* Simon's JavaScript */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #000000;
    color: #606060;
    cursor: pointer;
    padding: 5px;
    border-radius: 100%;
    font-size: 18px;
    transform: scale(2.5, 1.5);
  }
  
  #myBtn:hover {
    color: #ea620e;
    background-color: #606060;
  }
/* Simon's JavaScript END */